<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<title>Painel Administrador</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="dashboard">

<div class="menu">

<h2>NaturViagens</h2>

<a href="#">🏠 Dashboard</a>

<a href="#">👥 Clientes</a>

<a href="#">✈️ Viagens</a>

<a href="#">📄 Documentos</a>

<a href="#">💳 Pagamentos</a>

<a href="#">📅 Itinerários</a>

<a href="#">⚙️ Definições</a>

<a href="/logout">🚪 Terminar Sessão</a>

</div>

<div class="conteudo">

<h1>Painel do Administrador</h1>

<div class="cards">

<div class="card">
<h2>Clientes</h2>
<h1>0</h1>
</div>

<div class="card">
<h2>Viagens</h2>
<h1>0</h1>
</div>

<div class="card">
<h2>Documentos</h2>
<h1>0</h1>
</div>

<div class="card">
<h2>Pagamentos</h2>
<h1>0</h1>
</div>

</div>

</div>

</div>

</body>
</html>